<h2>Sobre</h2>

<div class="row">
	<div class="col-md-12">
		Analista desenvolvedor, com aproximadamente 10 anos de experiência em desenvolvimento de sistemas web e desktop.<br />
		Graduado em Sistemas de Informações (Unigranrio).<br />
		Pós graduado em Engenharia de Software (PUC).
	</div>
</div>

<div class="row">
	<br />
	<div class="col-md-3">
		<img src="~/images/Foto.png" class="img-responsive" />
	</div>
	<div class="col-md-3">
		<b>Experiência com Dot Net:</b><br />
		<ul>
			<li>
				C#, VB;
			</li>
			<li>
				Asp.net;
			</li>
			<li>
				MVC 4/5;
			</li>
			<li>
				Entity Framework;
			</li>
			<li>
				Web Services;
			</li>
            <li>
				Windows Forms;
			</li>
			<li>
				Componentes;
			</li>
		</ul>
	</div>
	<div class="col-md-3">
		<b>Experiência com tecnologias web:</b><br />
		<ul>
            <li>
				HTML;
			</li>
            <li>
				CSS;
			</li>
            <li>
				Javascript;
			</li>
			<li>
				Jquery;
			</li>
			<li>
				Bootstrap;
			</li>
			<li>
				ExtJs;
			</li>
			<li>
				AngulaJs
			</li>
		</ul>
	</div>
	<div class="col-md-3">
		<b>Experiência com banco de dados:</b><br />
		<ul>
			<li>
				Oracle;
			</li>
			<li>
				Sql Server;
			</li>
			<li>
				Pl/Sql;
			</li>
			<li>
				Transact Sql;
			</li>
			<li>
				Modelagem em geral;
			</li>
		</ul>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<b>Contatos:</b><br />
		Cel:(21)98832-1332.<br />
		E-Mail: fabiomotatj@hotmail.com
	</div>
</div>
