<div class="row">
    <div class="col-md-3">
        <h3>Grid Detalhe</h3>
        <a asp-action="Index" asp-controller="Usuario">
            <div class="row">
                <i class='far fa-address-card col-md-3' style='font-size:60px;'></i>
                <p class="col-md-9">Cadastro de usuários com lista. Layout adaptável a dispositivos moveis.</p>
            </div>
        </a>
    </div>
    <div class="col-md-3">
        <h3>Grid Paginada</h3>
        <a asp-action="Relatorio" asp-controller="Usuario">
            <div class="row">
                <i class='glyphicon glyphicon-list-alt col-md-3' style='font-size:60px;'></i>
                <p class="col-md-9">Grid que permite paginação e permite filtro dos dados encontrados.</p>
            </div>
        </a>
    </div>
    <div class="col-md-3">
        <h3>Menus</h3>
        <a asp-action="Menu" asp-controller="Usuario">
            <div class="row">
                <i class='glyphicon glyphicon-menu-hamburger col-md-3' style='font-size:60px;'></i>
                <p class="col-md-9">Exemplo de menus que se adaptam em browsers comuns e móveis.</p>
            </div>
        </a>
    </div>
    <div class="col-md-3">
        
    </div>
</div>