
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>View</title>
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <script src="~/js/UsuarioDetail.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-mask/dist/jquery.mask.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap-confirmation.js"></script>
    <link href="~/css/site.css" rel="stylesheet" />
</head>
<body>
    <div class="topo_sub_pagina">
        Cadastro de Usuários
    </div>

    <form name="userForm" id="userForm" enctype="multipart/form-data" autocomplete="off">
        <div class="row">
            <div class="form-group col-md-3">
                <div class="form-group">
                    <label>CPF:</label><br />
                    <input type="text" name="Cpf" class="form-control input-sm" pattern="\d{3}\.\d{3}\.\d{3}-\d{2}" title="000.000.000-00" required>
                </div>
                <div class="form-group">
                    <label>Nome:</label><br />
                    <input type="text" name="Nome" class="form-control input-sm" pattern="[a-zA-Zà-ú\s]{6,20}" required maxlength="20" title="João da Silva">
                </div>

                <div class="form-group">
                    <label>Telefone:</label><br />
                    <input type="text" name="Telefone" class="form-control input-sm" required pattern="\([0-9]{2}\)[0-9]{5}-[0-9]{4}$" title="(00)00000-0000">
                </div>
                <div class="form-group">
                    <label>E-Mail:</label><br />
                    <input type="email" name="Email" class="form-control input-sm" required>
                </div>
                <input type="hidden" name="Matricula" />

                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block btn-sm">Gravar</button>
                    <button type="button" class="btn btn-primary btn-block btn-sm" onclick="limpaForm()">Novo</button>
                </div>
            </div>

            <div class="col-md-9">
                <table id="tblUser" class="table table-condensed table-hover table-striped grid_prog">
                    <thead>
                        <tr>
                            <th>CPF</th>
                            <th>Nome</th>
                            <th>E-Mail</th>
                            <th>Telefone</th>
                            <th>Ações   </th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </form>
</body>
</html>
